/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: 'Shadows Into Light', cursive;
    
}

h1 {
    padding: 1rem;
    padding-left: 0rem;
    font-size: 4em;
    color: rgb(253, 130, 116);
}

h2 {

    font-size: 2em;
    text-align: left;
    padding: .5rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid  rgb(253, 130, 116);
}

li a:hover {
    background-color: antiquewhite;
}
footer a:hover {
    background-color:  rgb(253, 130, 116) ;
}
main {
    font-size: 1.5rem;
    background-color: rgb(248, 224, 87);
    color: rgb(97, 42, 3);

}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 80%;
}

header, footer, footer a {
    text-align: left;
    background-color: rgb(26, 126, 121);
    color: whitesmoke;
}

header img {
    width: 250px;
    height: auto;
    float: right;
    border: 3px solid whitesmoke;
}

footer {
    font-size: 1em;
}