#logo {
    width: 5rem;
    height: auto;
    float: left;
    margin: auto;
}

.top {
    width: 85%;
    background-color: #cb904d;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #75485e;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 auto;
}

#motto {
    margin-top: -5px;
    padding-bottom: 10px;
}

#webname {
    color: #f4fbeb;
    padding-top: 10px;
    letter-spacing: 1px;
}

#menubutton {
    font-size: 2em;
    background-color: #75485e;
    color: #f4fbeb;
    border: none;
    text-decoration: none;
    padding: .25rem;
    display: block;
    width: 85%;
    margin: auto;
    font-family: "Fjalla One",
        sans-serif;
}

#menubutton:hover {
    background-color: #f4fbeb;
    color: #75485e;
}

nav {
    display: block;
}

nav ul.hide {
    display: none;
}

#navul a {
    color: #f4fbeb;
    font-size: 1.5em;
    height: auto;
    display: -inline-block;
    text-decoration: none;
    padding: .25rem;
    text-align: center;
    background-color: #75485e;
    font-family: "Fjalla One",
        sans-serif;
}

#navul li {
    padding: .5rem;
}

#navul a:hover {
    background-color: #f4fbeb;
    color: #75485e;
}

#navul a.current {
    background: #51a3a3;
}

ul {
    padding-left: 0px;
    margin-left: 0px;
    list-style-type: none;
}

#home,
#gallery,
#stormcenter,
#preston,
#sodasprings,
#fishhaven {
    border: thick solid #75485e;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: inline-block;
    text-align: center;
    background-color: #f4fbeb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #51a3a3;
    text-align: center;
}

main {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    align-content: center;
}

#picwithcap1,
#picwithcap2,
#picwithcap3,
#picwithcap4,
#picwithcap5,
#picwithcap6 {
    background-color: #75485e;
    color: #f4fbeb;
    font-size: 1rem;
    text-align: center;
    padding: .35rem;
    margin: 0;
    justify-content: center;
}

#galpics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: .5rem;
    justify-content: center;
}


section p {
    background-color: #75485e;
    color: #f4fbeb;
    padding: .25rem;
    margin-top: 0;
}

#picwithcap1:hover,
#picwithcap2:hover,
#picwithcap3:hover,
#picwithcap4:hover,
#picwithcap5:hover,
#picwithcap6:hover {
    box-shadow: 0.5rem 0.5rem 0.5rem #51a3a3;
}

#picwithcap1 img,
#picwithcap2 img,
#picwithcap3 img,
#picwithcap4 img,
#picwithcap5 img,
#picwithcap6 img {
    border-bottom: .25rem solid #cb904d;
    margin-bottom: .25rem;
}

h2,
h1,
h3 {
    font-family: "Fjalla One", sans-serif;
    text-align: center;
}

#summarytitle {
    color: #75485e;
    font-weight: bold;
    display: block;
    margin: .5rem;
    font-size: 1.5rem;
}

#weathersummary {
    position: relative;
    display: flex;
    display: -webkit-flex;
    margin: auto;
    justify-content: center;
}

#summarybox {
    padding: 0.5rem;
    background-color: #cb904d;
    width: 40%;
    z-index: 2;
    left: 1rem;
    top: 2rem;
    display: block;
    position: absolute;
    box-shadow: 0.5rem 0.5rem 0.5rem #51a3a3;
}

#sumwords {
    text-align: center;
    display: block;
    color: #f4fbeb;
    text-shadow: 0.25rem 0.25rem 0.25rem #75485e;
    line-height: 1.5rem;
}

#hightemp {
    font-size: 1.5rem;
    font-weight: bold;
}


#sunnyid {

    z-index: 1;
    position: relative;
}

article {
    background-color: #f4fbeb;
    padding: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

#snowidaho {
    width: 50%;
    height: 40%;
    float: left;
    padding-left: 0.5rem;
}

#fortitle {
    font-size: 2.5rem;
    margin-top: 1rem;
    border: thick solid #75485e;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: inline-block;
    text-align: center;
    background-color: #f4fbeb;
}

#forcast {
    margin: auto;
    padding: 1rem;
    text-align: center;
    display: block;
    padding-top: 0;
    margin-top: 2rem;
}

#days {
    display: none;

}

#daytemp {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    margin: auto;
    column-gap: 0.5rem;
}

li article {
    display: block;
    justify-content: center;
    background-color: #51a3a3;
    color: #f4fbeb;
    letter-spacing: 2px;
    font-size: 1.5rem;
    padding-bottom: 0;
}

li article img {
    width: 4rem;
}

#townevents {
    color: #75485e;
    background-color: #f4fbeb;
    border-radius: 50%;
    padding: 2rem;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

#events {
    justify-content: center;
    width: 75%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #75485e;
    color: #f4fbeb;
    font-size: 1.5rem;
    padding: 0.5rem;
}

#events p {
    margin: .5rem;
}

body {
    font-family: "Libre Baskerville", serif;
    background-color: #dfcc74;
    text-align: center;
}

img {
    max-width: 100%;
    text-align: center;
}

footer {
    width: 85%;
    margin: auto;
}

#contactbox {
    margin: 0 auto;
    background-color: #75485e;
    color: #dfcc74;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 1rem;
    align-items: center;
}

#map {
    width: 10rem;
    height: auto;
    margin: auto;
    float: right;
    grid-column: 3/5;
    grid-row: 1/3;
    align-items: center;
}

#contactinfo {
    grid-column: 1/3;
    grid-row: 1/3;
}

#footerbar {
    text-align: center;

}

#currentdate {
    padding-bottom: .5rem;
    font-weight: bold;
}

#socialmedia {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;

    align-items: flex-end;
    justify-content: center;

}

#socialmedia li {
    float: left;
    width: 2rem;
    height: auto;
}

#formstorming {
    text-align: left;
    align-content: center;
    width: 85%;
    margin: auto;
    margin: auto;
    background-color: #cb904d;
    font-weight: bold;
    font-size: 1.5rem;
}

#inputtext {
    padding: 1rem;
}

#stormdescript {
    padding: 1rem;
}

#rangeValue {
    text-align: center;
}

#coms {
    margin-top: 1.5rem;
    grid-column: 1;


}

input#submit {
    font-size: 2rem;
    padding: .5rem;
    background-color: #51a3a3;
    color: #f4fbeb;
    box-shadow: .35rem .35rem .25rem #75485e;
    margin: 1rem;
}

.stormsevreg {
    margin: .5rem;
}

input.textinput {
    margin: .5rem;
}

fieldset {
    border: none;
    padding: 1rem;
}

legend {
    font-size: 2rem;
    color: #f4fbeb;
    border-bottom: .25rem dashed #75485e;
}

input {
    padding: .25rem;
}

textarea {
    margin: .25rem;
}

input[type=range] {
    width: 18rem;
}

#mainthanks {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f4fbeb;
    border: .5rem dashed #cb904d;
    border-radius: 1rem;
    display: inline-block;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#mainthanks h2 {
    color: #75485e;
}

#towninfo {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1rem;
    margin: auto;
    margin-bottom: 1.5rem;
    width: 80%;

}

#towninfo article {
    display: block;
    margin-top: 1rem;
    box-shadow: .3rem .3rem .5rem #75485e;

}

#towninfo p {
    background-color: #f4fbeb;
    color: #75485e;
    padding: 0;
}

#towninfo h3 {
    margin-top: .5rem;
    font-size: 1.5rem;
    border-bottom: .25rem dashed #cb904d;
    display: inline-block;
    padding-bottom: .2rem;
    margin-bottom: 1rem;
}

#towninfo article img {
    height: 8rem;
    width: 20rem;

}

#home {
    margin-bottom: .5rem;
}