#logo {
  position: absolute;
  border: solid thick #cb904d;
  width: 15%;
  height: auto;
  align-self: center;
  background-color: white;
}

nav {
  font-family: "Fjalla One", sans-serif;
  background-color: #75485e;
  width: 75%;

  text-align: center;
  margin: auto;
}
nav a {
  color: #f4fbeb;
  font-size: 1.1em;
  height: auto;
  display: block;
  text-decoration: none;
  padding: 5px;
}
nav a:hover {
  background-color: #f4fbeb;
  color: #75485e;
}
ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #51a3a3;
  text-align: center;
}

#motto {
  color: #75485e;
}
#content {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  align-content: center;
}

h2,
h1,
h3 {
  font-family: "Fjalla One", sans-serif;
  text-align: center;
}
#summarytitle {
  color: #75485e;
}
article {
  background-color: #f4fbeb;
}

#summarybox {
  background-color: #cb904d;
  width: 35%;
  display: flex;
  display: -webkit-flex;
  position: relative;
}
#snowidaho {
  width: 60%;
  height: auto;
}
#contactbox {
  background-color: #75485e;
  color: #dfcc74;
}
#map {
  width: 200px;
  height: auto;
  margin: auto;
}
body {
  font-family: "Libre Baskerville", serif;
  background-color: #dfcc74;
  text-align: center;
}

#socialmedia {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  width: 77%;
  align-items: flex-end;
  padding-top: 15px;
  justify-content: space-between;
}
#copywrite {
  display: inline;
}
img {
  max-width: 100%;
  text-align: center;
}
#facebook,
#insta,
#twitter {
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
  height: auto;
}
