body {
    background-color: #eee5e9;
    color: #2b303a;
    text-align: center;
    width: 75%;
    margin: auto;
    font-family: 'Lora', serif;
}


#logo {
    float: left;
    margin: auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

#webname {
    font-family: 'Lora', serif;
}

header {

    margin: auto;
}

.top {

    background-color: #92dce5;
    margin-bottom: 0;
    padding-bottom: 0;
    color: #2b303a;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 auto;
    align-items: center;
}

#motto {
    margin-top: -5px;
    padding-bottom: 10px;
}


#menubutton {
    display: none;
}


.table {
    display: table;
    margin: 0 auto;
    border-right: .2rem solid #7c7c7c;
    border-left: .2rem solid #7c7c7c;
}

nav {
    font-family: 'Oswald', sans-serif;
    background-color: #9ee493;
    display: flex;
    margin: 0 auto;
}

nav li {
    float: left;
    background-color: #9ee493;
}

nav a {
    color: #2b303a;
    font-size: 1.5em;
    height: auto;
    display: block;
    text-decoration: none;
    padding: 0.3rem;
    text-align: center;
}



nav a:hover {
    background-color: #2b303a;
    color: #9ee493;
}

#navul a.current {
    background: #eee5e9;
}

#navul {
    margin: auto;
}

#navul li {
    border-right: .2rem solid #7c7c7c;
}

#navul li:last-child {
    border-right: none;
}

ul {
    padding-left: 0px;
    margin-left: 0px;
    list-style-type: none;
}

footer {
    color: #92dce5;
    background-color: #2b303a;
    padding: .5rem;
    font-size: 1.5rem;
}

footer a {
    text-decoration: none;
    color: #92dce5;
}

footer a:hover {
    color: #eee5e9;
}