body {
    background-color: #eee5e9;
    color: #2b303a;
    text-align: center;
    width: 75%;
    margin: auto;
    font-family: 'Lora', serif;
    font-size: 1.25rem;
}


#logo {
    float: left;
    margin: auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-left: .5rem;
}

#webname {
    font-family: 'Lora', serif;
    font-size: 2rem;
    margin-bottom: 0;
}

header h3 {
    margin-top: .5rem;
    color: #2b303a;
    font-size: 1rem;
}

header {

    margin: auto;
}

.top {

    background-color: #92dce5;
    margin-bottom: 0;
    padding-bottom: 0;
    color: #2b303a;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 auto;
    align-items: center;
}


#menubutton {
    font-size: 2em;
    background-color: #2b303a;
    color: #9ee493;
    border: none;
    text-decoration: none;
    padding: .25rem;
    display: block;
    width: 100%;
    margin: auto;
    font-family: 'Oswald',
        sans-serif;
}

#menubutton:hover {
    background-color: #9ee493;
    color: #2b303a;
}

.table {
    display: table;
    margin: 0 auto;
}

nav {
    font-family: 'Oswald', sans-serif;
    background-color: #9ee493;
    display: block;
    margin: 0 auto;
}

nav li {
    background-color: #9ee493;
}

nav a {
    color: #2b303a;
    font-size: 1.5em;
    height: auto;
    display: block;
    text-decoration: none;
    padding: 0.3rem;
    text-align: center;
}

nav a:hover {
    background-color: #2b303a;
    color: #9ee493;
}

nav ul.hide {
    display: none
}

#navul a.current {
    background: #eee5e9;
}

#navul {
    margin: auto;
}

#navul li {
    border-top: .2rem solid #7c7c7c;
}

#navul li:last-child {
    border-bottom: .2rem solid #7c7c7c;
}

ul {
    padding-left: 0px;
    margin-left: 0px;
    list-style-type: none;
}

h2 {
    color: #2b303a;
    border: .5rem solid #9ee493;
    font-size: 1.75rem;
    display: inline-block;
    padding: .5rem;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

#calltoaction {
    width: 50%;
    font-size: 1.5rem;
    background-color: #2b303a;
    color: #eee5e9;
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: .5rem .5rem .5rem #7c7c7c;
    margin: auto;
    margin-bottom: 2rem;

}

#hometemple {
    padding: 1.5rem;
    align-items: center;
    margin-bottom: 2rem;
    text-align: left;
    background-color: #9ee493;
}

#hometuctemple {
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.articlewords {
    line-height: 1.5rem;
    text-align: left;
}

article {
    background-color: #9ee493;
    display: block;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    align-items: center;
    text-align: left;
}

#tuctopart,
#agtopart,
#ogtopart,
#pcctopart {
    text-align: center;
    justify-content: center;
}

.temppics {
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.templetitle {
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 1rem;

    text-align: center;
}

.history {
    display: none;
}

#agarticlewords,
#pccarticlewords {
    line-height: 1.5rem;
    text-align: left;
}

.sumtitle {
    margin-bottom: 0;
    padding-bottom: .1rem;
    border-bottom: .2rem solid #eee5e9;
    display: inline-block;
    font-size: 1.3rem;
    margin-top: .75rem;
}

#homeweathersum {
    border: .3rem dashed #eee5e9;
    text-align: center;
    padding: .5rem;
    margin: auto;
}

.weathersum {
    display: none;
}


h4 {
    margin-top: .5rem;
    margin-bottom: 0;
    border-bottom: .2rem solid #7c7c7c;
    display: inline-block;
}

#tucclosuresched,
#agclosuresched,
#ogclosuresched,
#pcclosuresched {
    margin-top: .1rem;
    margin-bottom: 0;
}

#tucsched p,
#agsched p,
#ogsched p,
#pccsched p {
    margin: .2rem;
}

#contactbox {
    color: #92dce5;
    background-color: #2b303a;
    padding: .5rem;
    font-size: 1rem;
    margin-top: 2rem;
    clear: both;
}

#copywrite {
    font-size: .8rem;
}

#copywrite a {
    text-decoration: none;
    color: #2b303a;
}

#copywrite a:hover {
    color: #7c7c7c;
}

#inputtext {
    padding: 1rem;
    text-align: left;
    align-content: center;
    width: 85%;
    display: flex;
    margin: auto;
    background-color: #7c7c7c;
    color: #eee5e9;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: .75rem;
}

input#submit {
    font-size: 2rem;
    padding: 0.5rem;
    background-color: #92dce5;
    color: #7c7c7c;
    font-weight: bold;
    box-shadow: 0.35rem 0.35rem 0.25rem #2b303a;
    margin: 1rem;
    text-align: center;
}

input.textinput {
    margin-top: 0.5rem;
    margin-bottom: .5rem;
    width: 100%;
}

fieldset {
    border: none;
    padding: 1rem;
}

legend {
    font-size: 2rem;
    color: #9ee493;
    border-bottom: 0.25rem dashed whitesmoke;
    text-align: center;
}

input {
    padding: 0.25rem;
}

textarea {
    margin-top: 0.25rem;
    width: 100%;
}

h5 {
    margin-bottom: 1rem;
    margin-top: 0;
    font-size: 1.5rem;
}

#mapandtitle {
    background-color: #9ee493;
    border-radius: .75rem;
    padding: 2rem;
    display: inline-block;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#receptionbutton,
#missionbutton {
    margin: auto;
    width: 55%;
    background-color: #7c7c7c;
    color: #9ee493;
    display: block;
    font-size: 1.5rem;
    padding: 1rem;
    box-shadow: .5rem .5rem .5rem #2b303a;
    border-radius: .75rem;
    margin-bottom: 2rem;
    text-shadow: .5rem .25rem .5rem #2b303a;

}

#amenities h3 {
    text-align: center;
    border-bottom: .5rem ridge #92dce5;
    display: inline-block;
    font-size: 1.25rem;
    margin-bottom: 0;
    margin-top: 0;
}

#amenities ul {
    margin-top: .5rem;
}

#amenities {
    margin-bottom: 2rem;
    text-align: left;
    font-size: 1rem;
}

.serveheading {
    border: none;
    border-bottom: .25rem dashed #9ee493;
    text-shadow: .1rem .1rem .3rem #7c7c7c;
    font-size: 1.5rem;
    margin-top: 0;

}

#mishlist,
#reclist {
    font-size: 1rem;
    text-align: left;
    width: 85%;
    margin: auto;
}

#mishlist li,
#reclist li {
    margin: .5rem;
}


#galtitle {
    display: inline-block;
    padding: .5rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: .25rem solid #9ee493;
    border-top: .25rem solid #9ee493;
}

#galpics {
    justify-content: center;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
}


#pic1 img:hover,
#pic2 img:hover,
#pic3 img:hover,
#pic4 img:hover,
#pic5 img:hover,
#pic6 img:hover,
#pic7 img:hover,
#pic8 img:hover {
    transform: scale(2);
    box-shadow: .5rem .5rem .5rem #92dce5;
}

#pic1 p,
#pic2 p,
#pic3 p,
#pic4 p,
#pic5 p,
#pic6 p,
#pic7 p,
#pic8 p {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

#pic1 img,
#pic2 img,
#pic3 img,
#pic4 img,
#pic5 img,
#pic6 img,
#pic7 img,
#pic8 img {
    width: 100%;
    display: inline-block;
    border-bottom: 0.35rem solid #92dce5;
    margin-bottom: 0.25rem;
}

#pic1,
#pic2,
#pic3,
#pic4,
#pic5,
#pic6,
#pic7,
#pic8 {
    width: 33%;
    background-color: #7c7c7c;
    color: #eee5e9;
    font-size: 1rem;
    text-align: center;
    margin: .5rem;
    justify-content: center;
    padding: .75rem;
    border-radius: .5rem;
}